<html>
	<body>
		<form action="./raterestaurant" method="POST"  id="rate">
			Score:<input type="text" id="score" name="score"><br/>
			<input type="hidden" id="id" name="id" value="<%=id%>">
			<input type="submit" value="Rate">
		</form>
	</body>
</html>
