<html>
	<body>
		<form id="register" action="./createuser" method="POST">
			<label>Username: </label><input type="text" id="username" name="username"><br/>
			<label>Password: </label><input type="password" id="password" name="password"><br/>
			<label>Conform Password: </label><input type="password" id="conformpassword" name="conformpassword"><br/>
			<input type="submit" value="Register">
		</form>
	</body>
</html>
